<link href="~/Stylesheets/Guitars.css" rel="stylesheet" />
@{
    ViewBag.Title = "Guitars";
}

<h2>Guitars</h2>

<div id="guitars">
    <div class="guitars-container">
        <div class="guitars-border container-spacing">
            <img src="~/img/solar.jpg" class="img" />
        </div>
        <div class="guitars-border container-spacing">Price: £ 1200</div>
        <div class="guitars-border container-spacing">Manufacturer: Solar Guitars</div>
    </div>
</div>
