@{
    ViewBag.Title = "Home Page";
}

<div class="mainContent">
    <div class="blue-box">
        <div class="subContentItems message">Message board</div>
        <div class="subContentItems new-btn"></div>
        <div class="subContentItems chevron"></div>
    </div>
    <div class="box">
        <div class="subContentItems message">COVID-19 latest advice</div>
        <div class="subContentItems new-btn">New</div>
        <div class="subContentItems chevron">^</div>
    </div>
    <div class="box">
        <div class="subContentItems message">You can now add a profile photo</div>
        <div class="subContentItems new-btn">New</div>
        <div class="subContentItems chevron">^</div>
    </div>
    <div class="box">
        <div class="subContentItems message">Win £1,000 in our competition</div>
        <div class="subContentItems new-btn">New</div>
        <div class="subContentItems chevron">^</div>
    </div>
</div>