<link href="~/Stylesheets/Quick.css" rel="stylesheet" />
@{
    ViewBag.Title = "Guitars";
}

<div class="row-container">
    <div>
        <h2>QUICK</h2>
    </div>
</div>
<div class="row-container">
        <div class="item-container">
            <div class="col quick-border one">
               ONE
            </div>
            <div class="col quick-border two">
               TWO
            </div>
            <div class="col quick-border three">
                THREE
            </div>
        </div>      
</div>
